body{
    color: #021910;
    margin: 0px;
    }
    h1{
        font-size: 50px;
        margin: 5px 0px 0px 20px;
    }
    i{
        font-size: 35px;
    }
    h2{
        font-size: 25px;
        margin-left: 30px;
    }
    #container {
        display: flex;
        flex-direction: row;
    }
    
    .sidebar {
        width: 20%;
        margin: 50px 0 10px 0;
    }
    
    .sidebar ul {
        margin: 0px;
        padding: 0 20px 0 10px;
        background-color: #dcecec;
        border: solid 2px #70b89b;
        border-radius: 10px;
        
    }
    .sidebar li {
        font-size: 20px;
        text-decoration: underline 2px;
        text-decoration-color: #a9c0c0;
        padding: 10px 0px 5px 10px;

    }
    
    .sidebar a {
        color: #444444;
        text-decoration: none;
    }
    .content {
        width: 80%;
        margin: 10px 0 10px 0;
    }
    .heading{
        font-size: large;
        text-decoration:underline 2px;
        text-decoration-color: #308664;
    }
    .overview{
        background-color: #ccdbd5;
        border-radius:  20px;
        margin: 5px 20px 5px 10px;
        padding: 20px;
        border: solid 2px #70b89b;
    }