body{
    color: #021910;
    margin: 0px;
    }
    h1{
        font-size: 50px;
        margin: 0px;
    }
    i{
        font-size: 35px;
    }
    #container {
        display: flex;
        flex-direction: row;
    }
    
    .sidebar {
        width: 20%;
        margin: 50px 0 10px 0;
    }
    
    .sidebar ul {
        margin: 0px;
        padding: 0 10px 0 10px;
    }
    
    .sidebar li {
        display: block;
        margin: 0px 0px 5px 0px;
        padding: 5px 5px 5px 5px;
        border-right: solid 2px #cccccc;
        background-color: #eeeeee;
    }
    
    .sidebar a {
        color: #444444;
        text-decoration: none;
    }
    .content {
        width: 80%;
        margin: 10px 0 10px 0;
    }
    .heading{
        font-size: large;
        text-decoration:underline 2px;
        text-decoration-color: #308664;
    }
    .overview{
        background-color: #aff7da;
        border-radius:  20px;
        margin: 5px 20px 5px 10px;
        padding: 20px;
        border: solid 2px #308664;
    }